<%- include('../partials/head') %>
<body>
    <div class="categorias">
        <form action="/categorias/save" method="POST">
                <h3>Categoria da sua pergunta</h3>
                <input type="text" name="categoria">
                <button class="botao-cadastrar" type="submit">
                    Cadastrar
                </button>
        </form>
    </div>
</body>
</html>