<header>
    <h1>Guia Perguntas</h1>
    <button class="fa fa-bars" onclick="navBar()"></button>

    <nav class="nav">
        <ul>
            <li>Teste</li>
            <li>Teste</li>
            <li>Teste</li>
        </ul>
    </nav>
</header>