<header class="header">
    <h1>Guia Perguntas</h1>
    <div class="btn-header">
        <button class="fa fa-user" onclick="showUser()"></button>
        <button class="fa fa-bars"></button>
    </div>
    
</header>
