<%- include('./partials/head') %>

<body>
    <div class="container">
        <h1>Deseja se cadastrar ?</h1>
        <a href="/cadastro" class="button" id="button">Cadastrar</a>
        <br><br><br>
        <a href="#" class="button" id="button">Ir para o site</a>
    </div>
    
    <form class="popup">
        <div class="popup-content">
            <img src="./img/close.png" alt="Close" class="close" id="close">
            <div>
                <input type="text" placeholder="usuário" name="usuario">
                <br>

                <input type="email" placeholder="exemplo@exemplo.com" name="email">
                <br>
                <input type="password" placeholder="******" name="senha">
                <br>
            </div class="botao-cadastrar">
                    <br><br>

            <a href="" class="button">CADASTRAR2222</a>
        </div>
        
    </form>
</body>

</html>