#index{
    background-image: url('../img/background.png');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}
body,html{
    width:100%;
    height:100%;
    margin:0;
    padding:0;
    text-align: center;
    background-color: #F8F8FF;
  
    font-family:sans-serif;
    /*1.5em = 20px*/
}
p{font-size:18px;}h3{font-size:20px;}
a{text-decoration: none;color:white}button:focus,input:focus{outline:none;}
button{border:none;cursor:pointer;}
ul{list-style:none; padding: 0; margin:0;}
h1,h2,h3,h4,h5,h6,p{margin:0; padding:0;}
header{margin:0;padding: 0;}
/*Tela Inicial (Login, Cadastrar)*/
@media screen and (min-width:280px){
    .wrapper{
        color:white;
        display: flex;
        flex-direction: column;
        align-items: center;
        background-color:rgba(15, 15, 15, 0.38);
        padding:20px;
        transform:translate(-50%,-50%);
        top:50%;
        left:50%;
        position: absolute;
        height:320px;
        width:230px;
        border-radius:10px;
    }
    .wrapper-desactive{
        display:none;
    }
    .wrapper button{
        width:210px;
        background:#1E90FF;
        padding:5px;
        border-radius:15px;
        border:1px solid #1E90FF;
        color:white;
        font-size:20px;
        letter-spacing: 1.2px;
        margin: 20px;
    }

    .wrapper2,.wrapper3{
        color:white;
        background-color:rgba(15, 15, 15, 0.38);
        padding:20px;
        transform:translate(-50%,-50%);
        top:50%;
        left:50%;
        position: absolute;
        height:350px;
        width:230px;
        border-radius:10px;
        display:none;

    }
    .wrapper2 i, .wrapper3 i, .wrapper3 i{
        border:1px solid white;
        border-radius: 100%;
        padding:5px;
        font-size:20px;
        float: left;
    }
    .wrapper2 form, .wrapper3 form{
        display:flex;
        flex-direction: column;
        align-items: center;
        color:white;
        margin:10px;
    }
    .wrapper2 form h1, .wrapper3 form h1{
        letter-spacing: 1.3px;
    }
    .wrapper2 form label, .wrapper3 form label{
        font-size:25px;
        letter-spacing: 1.2px;
    }
    .wrapper2 input, .wrapper3 input{
        border:1px solid gray;
        border-radius:15px;
        height:20px;
        width:200px;
        padding:5px;
    }
    .wrapper2 button, .wrapper3 button{
        width:210px;
        background:#1E90FF;
        padding:5px;
        border-radius:15px;
        border:1px solid #1E90FF;
        color:white;
        font-size:20px;
        letter-spacing: 1.2px;
    }
    .wrapper2-active{
        display:block;
    }
    .wrapper3{
        height:430px;
    }
    .wrapper3-active{
        display:block;
    }
}

@media screen and (min-width:350px){
    .wrapper{
        color:white;
        display: flex;
        flex-direction: column;
        align-items: center;
        background-color:rgba(15, 15, 15, 0.38);
        padding:20px;
        transform:translate(-50%,-50%);
        top:50%;
        left:50%;
        position: absolute;
        height:350px;
        width:300px;
        border-radius:10px;
    }
    .wrapper-desactive{
        display:none;
    }
    .wrapper button{
        width:210px;
        background:#1E90FF;
        padding:5px;
        border-radius:15px;
        border:1px solid #1E90FF;
        color:white;
        font-size:20px;
        letter-spacing: 1.2px;
        margin: 20px;
    }
    .wrapper2,.wrapper3{
        color:white;
        background-color:rgba(15, 15, 15, 0.38);
        padding:20px;
        transform:translate(-50%,-50%);
        top:50%;
        left:50%;
        position: absolute;
        height:350px;
        width:300px;
        border-radius:10px;
        display:none;

    }
    .wrapper2 i, .wrapper3 i{
        border:1px solid white;
        border-radius: 100%;
        padding:5px;
        font-size:20px;
        float: left;
    }
    .wrapper2 form, .wrapper3 form{
        display:flex;
        flex-direction: column;
        align-items: center;
        color:white;
        margin:10px;
    }
    .wrapper2 form h1, .wrapper3 form h1{
        letter-spacing: 1.3px;
    }
    .wrapper2 form label, .wrapper3 form label{
        font-size:25px;
        letter-spacing: 1.2px;
    }
    .wrapper2 input, .wrapper3 input{
        border:1px solid gray;
        border-radius:15px;
        height:20px;
        width:200px;
        padding:5px;
    }
    .wrapper2 button, .wrapper3 button{
        width:210px;
        background:#1E90FF;
        padding:5px;
        border-radius:15px;
        border:1px solid #1E90FF;
        color:white;
        font-size:20px;
        letter-spacing: 1.2px;
    }
    .wrapper2-active{
        display:block;
    }
    .wrapper3{
        height:430px;
    }
    .wrapper3-active{
        display:block;
    }

}
@media screen and (min-width:280px){
     /*header*/
     .header{
        padding:10px;
        display:flex;
        flex-direction: row;
        justify-content: space-between;
        background:#1E90FF;
        color:white;
    }
    .header h1{
        font-size:22px;
    }
    .header button{
        background:none;
       
    }
    .btn-header{
        font-size: 20px;
        display: flex;
        flex-direction: row;
        justify-content: center;
    }
    .btn-header .fa-bars , .btn-header .fa-user{
        color:white;
        padding:0px 8px;
        margin:0px 2px;
    }

     /*Informações do usuário*/

     .user_format {
        position: fixed;
        right: 0px;
        border: 1px solid #DCDCDC;
        border-radius: 20px;
    }

    .user{
       position: fixed;
       right: 0px;
       border: 1px solid #DCDCDC;
       border-radius: 20px;
       grid-area: "user";
    }

    .user-active{
        display:contents;
    }
    .wrapper4{
        padding:5px;
       
    }
    .wrapper4 i{
        font-size: 45px;
    }
    .wrapper4 p{
        margin: 5px;
    }
    .wrapper4 button{
        width:100px;
        background:#1E90FF;
        padding:5px;
        border-radius:15px;
        border:1px solid #1E90FF;
        color:white;
        font-size:18px;
        letter-spacing: 1.2px;
        margin:0px 10px;
    }

    /* FORMATAÇÃO DO BOTÃO FAZER PERGUNTA  */

    .format_botao_pergunta{
        padding:5px;
       
    }
    .format_botao_pergunta i{
        font-size: 45px;
    }
    .format_botao_pergunta p{
        margin: 5px;
    }

    .format_botao_pergunta button{
        width:100px;
        background:#1E90FF;
        padding:5px;
        border-radius:15px;
        border:2px solid #1E90FF;
        color:white;
        font-size:18px;
        letter-spacing: 1.2px;
        margin:0px 10px;
    }

    /*.format_botao_pergunta button{
        width:100px;
        background:#0000FF;
        padding:5px;
        border-radius:15px;
        border:2px solid #00BFFF;
        color:white;
        font-size:18px;
        letter-spacing: 1.2px;
        margin:0px 10px;
    }*/

    /* FORMATAÇÃO DOS CONTEINERS COM GRID */
    .caixa_perguntas {
        background-color: #F8F8FF;
        height: 100%;
        grid-area: "caixa_perguntas";
    }
    
    .titulo_caixa {
        border: 3px solid #D3D3D3;
        padding: 10px;
        margin-top: 5px;
        background-color: #F5FFFA;
        text-align: center;
        text-decoration: underline;
    }
    
    .fazer_pergunta {
        border: 3px solid #D3D3D3;
        padding: 10px;
        margin-top: 5px;
        background-color: #F5FFFA;
    }

    .fazer_pergunta h4 {
        padding-bottom: 7px;
    }
    
    .introducao {
        border: 3px solid #D3D3D3;
        padding: 10px;
        margin-top: 5px;
        background-color: #F5FFFA;
        text-align: center;
    }
    
    .pergunta_caixa {
        border: 3px solid #D3D3D3;
        padding: 10px;
        margin-top: 5px;
        background-color: #F5FFFA;
        text-align: center;
    }
    
    .categrias_base {
        grid-area: "categrias_base";
    }

    .categorias_titulo {
        border: 3px solid #708090;
        padding: 10px;
        background-color: #ADD8E6;
        border-radius: 20px;
    }

    .categorias_format {
        border: 3px solid #708090;
        padding: 10px;
        margin-top: 5px;
        background-color: #ADD8E6;
        border-radius: 20px;
    }

    .categorias_format p {
        padding: 10px;
    }
    
    .categorias_lista h2 {
        text-align: center;
        padding: 20px;
    }
    
    .categorias_lista p {
        margin: 7%;
    }

   .format_footer {
        grid-area: "format_footer";
        grid-column: format_footer;
    }

    .format_footer footer {
        padding: 10px;
        height: 20px;
        background:#1E90FF;
        color:white;
    }

    .grid {
        margin-top: 5%;
        display: grid;
        grid-template-columns: 1fr 3fr 1fr;
        grid-template-areas: 
        "categrias_base caixa_perguntas user"
        "format_footer format_footer format_footer"; 
        grid-gap: 50px;
    }
}
/*Home*/
@media screen and (min-width:350px){
    /*header*/
    .header{
        padding:10px;
        display:flex;
        flex-direction: row;
        justify-content: space-between;
        background:#1E90FF;
        color:white;
    }
    .header h1{
        font-size:30px;
    }
    .header button{
        background:none;
       
    }
    .btn-header{
        font-size: 20px;
        display: flex;
        flex-direction: row;
        justify-content: center;
    }
    .btn-header .fa-bars , .btn-header .fa-user{
        color:white;
        padding:0px 10px;
        margin:0px 5px;
    }

    /*Informações do usuário*/

    .user_format {
        position: fixed;
        right: 0px;
        border: 1px solid #DCDCDC;
        border-radius: 20px;
    }

    .user{
       position: fixed;
       right: 0px;
       border: 1px solid #DCDCDC;
       border-radius: 20px;
       grid-area: "user";
    }

    .user-active{
        display:contents;
    }
    .wrapper4{
        padding:5px;
    }
    .wrapper4 i{
        font-size: 45px;
    }
    .wrapper4 p{
        margin: 5px;
    }
    .wrapper4 button{
        width:100px;
        background:#1E90FF;
        padding:5px;
        border-radius:15px;
        border:1px solid #1E90FF;
        color:white;
        font-size:18px;
        letter-spacing: 1.2px;
        margin:0px 10px;
    }

    /* FORMATAÇÃO DO BOTÃO FAZER PERGUNTA  */

    .format_botao_pergunta{
        padding:5px;  
    }

    .format_botao_pergunta i{
        font-size: 45px;
    }

    .format_botao_pergunta p{
        margin: 5px;
    }

    .format_botao_pergunta button {
        width:100px;
        background:#1E90FF;
        padding:5px;
        border-radius:15px;
        border:2px solid #1E90FF;
        color:white;
        font-size:18px;
        letter-spacing: 1.2px;
        margin:0px 10px;
    }
    .format_botao_pergunta :hover{
        background:#0000FF;
        border-radius:15px;
        border:2px solid #00BFFF;
    }

     .format_botao_pergunta button :hover{
        border: none;
    }

    /* FORMATAÇÃO DOS CONTEINERS COM GRID */
    .caixa_perguntas {
        background-color: #F8F8FF;
        height: 100%;
        grid-area: "caixa_perguntas";
    }
    
    .titulo_caixa {
        border: 3px solid #D3D3D3;
        padding: 10px;
        margin-top: 5px;
        background-color: #F5FFFA;
        text-align: center;
        text-decoration: underline;
    }
    
    .fazer_pergunta {
        border: 3px solid #D3D3D3;
        padding: 10px;
        margin-top: 5px;
        background-color: #F5FFFA;
    }

    .fazer_pergunta h4 {
        padding-bottom: 7px;
    }
    
    .introducao {
        border: 3px solid #D3D3D3;
        padding: 10px;
        margin-top: 5px;
        background-color: #F5FFFA;
        text-align: center;
    }
    
    .pergunta_caixa {
        border: 3px solid #D3D3D3;
        padding: 10px;
        margin-top: 5px;
        background-color: #F5FFFA;
        text-align: center;
    }
    
    .categrias_base {
        grid-area: "categrias_base";
    }

    .categorias_titulo {
        border: 3px solid #708090;
        padding: 10px;
        background-color: #ADD8E6;
        border-radius: 20px;
    }

    .categorias_format {
        border: 3px solid #708090;
        padding: 10px;
        margin-top: 5px;
        background-color: #ADD8E6;
        border-radius: 20px;
    }

    .categorias_format p {
        padding: 10px;
    }
    
    .categorias_lista h2 {
        text-align: center;
        padding: 20px;
    }
    
    .categorias_lista p {
        margin: 7%;
    }

   .format_footer {
        grid-area: "format_footer";
        grid-column: format_footer;
    }

    .format_footer footer {
        padding: 10px;
        height: 20px;
        background:#1E90FF;
        color:white;
    }

    .grid {
        margin-top: 5%;
        display: grid;
        grid-template-columns: 1fr 3fr 1fr;
        grid-template-areas: 
        "categrias_base caixa_perguntas user"
        "format_footer format_footer format_footer"; 
        grid-gap: 50px;
    }
}

/* Cadastro de Categorias */
@media screen and (min-width:280px){
    .categorias{
        display:flex;
        flex-direction: column;
        position: absolute;
        top:50%;
        left:50%;
        transform: translate(-50% , -50%);
        text-align: center;
        align-items: center;
        border: 5px;
        border-radius: 10px;
        padding:20px;
        font-family:sans-serif;
        border-style:groove;
        background-color: rgb(119, 172, 172);
    }
    .botao-cadastrar{
        border-radius: 5px;
        background-color: cornflowerblue;
        font-size: medium;
        font-family: sans-serif;
        cursor: pointer;
    }
}
@media screen and (min-width:350px){
    .categorias {
        text-align: center;
        border: 5px;
        border-radius: 10px;
        padding:20px;
        font-family:sans-serif;
        border-style:groove;
        background-color: rgb(119, 172, 172);
        display:flex;
        flex-direction: column;
        align-items: center;
        position: absolute;
        top: 50%;
        left:50%;
        transform:translate(-50% , -50%);
    }
    .botao-cadastrar{
        border-radius: 5px;
        background-color: cornflowerblue;
        font-size: medium;
        font-family: sans-serif;
        cursor: pointer;
    }
}
/*perguntas
*{
    margin: 0;
    padding: 0;

}
#perguntas{       
    font-family: sans-serif;
    color: blue;
    margin-left: 7%;
}
fieldset{
    border: 0;
}
body{
    background-color: burlywood;
    font-family: sans-serif;
    font-size: 1em;
    color:darkgoldenrod;
    margin-left: 36%;
    margin-top: 2%;
    justify-content: center;
}
input, select, textarea, button{
border-radius: 5px;
color: darkslateblue;
}
.campo {
    margin-bottom: 1em;      
}
.campo label{
    margin-bottom: 0.2em;
    color: darkorange;
    display: block;
}
fieldset, grupo .campo{
    float:left;
    margin-right: 2em;
}
