<%- include('../partials/head') %>
<script src="../js/functions.js"></script>
<body>
    <%- include('../partials/header') %>
    <div class="user">
        <div class="wrapper4">
            <br>
            <i class="fa fa-user"></i>
            <hr>
            <br>
            <p><%=user.nome%></p>
            <br>
            <p><%=user.email%></p>
            <br>
            <button class="editar">Editar</button>
            <button class="logout"><a href="/logout">Logout</a></button>
        </div>
       
    </div>
</body>
</html>