<%- include('../partials/head') %>
<script src="../js/functions.js"></script>
<body>
    <%- include('../partials/header') %>
    <div class="user">
        <div class="wrapper4">
            <i class="fa fa-user"></i>
            <hr>
            <br>
            <p>Gustavo Luis de Almeida Tenório</p>
            <br>
            <p>gltenorio@hotmail.com</p>
            <br>
            <button class="editar">Editar</button>
            <button class="logout">Logout</button>
        </div>
       
    </div>
</body>
</html>