<%- include('../partials/head') %>
<body>
    <div id="perguntas">
        <h1>Faça sua pergunta</h1>
        <br>
        <form action="/perguntas/save" method="POST">

            <input type="text" name="titulo" placeholder = "Informe o título da pergunta" required />
            <br>
        
            
            <textarea id="resumo" name="resumo" placeholder="Informe um breve resumo da sua pergunta" required></textarea>
            <br>

            
            <textarea id="pergunta" name="pergunta" placeholder="Agora informe sua pergunta" required></textarea>
            <hr>

            <select name="categoria" class="categoria">
                <% categorias.forEach((categoria) =>{ %>
                    <option value = "<%= categoria.id %>"><%=categoria.categoria%></option>
                <% }) %>
            </select>
            <br>
            <button type="submit">Perguntar</button>
            <br>
        </form>

    <%- include('../partials/footer') %>
</body>
</html>
                           