<%- include('../partials/head') %>
<body>
    <div class="tela-pergunta">
        <h1 id="Perguntas">Faça a sua pergunta:</h1>
        <div class="perguntas" id="perguntas">
            <section class="area-pergunta">
                <div class="caixa-pergunta">

                    <form action="/perguntas/save" method="POST">
                        <fieldset>
                        <div class="caixa-pergunta">
                            <input type="text" name="titulo" >
                        </div>
                        <br><br>
                        <textarea name="resumo" id="" cols="60" rows="10"></textarea>
                        <br>
                        <textarea rows="10" cols="60" name="pergunta" class="area-pergunta"></textarea>
                            <button type="submit">Confirmar </button>            
                        
                            </fieldset>
                    </form>
                    <div class="categorias">
                    <select name="select">
                        <option value="valor1" selected> categoria 1</option>
                        <option value="valor2">categoria 2</option>
                        <option value="valor3">categoria 3</option>
                        <option value="valor4">categoria 4</option>
                        <option value="valor5">categoria 5</option>
                        </select>
                    </div>
                </div>
            </section>
        </div>
    </div>
</body>
</html>
